<!DOCTYPE html>
<html>
<head>
<title>Survey Tool</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../static/css/layout.css">
<link rel="stylesheet" type="text/css" href="../static/css/content.css">
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css.map">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script src="https://kit.fontawesome.com/89d02c748f.js" crossorigin="anonymous"></script>
<script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
<script>
  MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      }
    };
</script>
</head>
<body>
    <div class="layout">
        <div class="navDiv"></div>
        <div class="prog">
            <div class="progContent" style="width: calc(8.333%*1);"></div>
        </div>
        <div class="contentDiv">
            <h1>Instruction</h1>
            <p>Welcome to the user study! Please read the information below carefully.</p>
            <p>In this study, we will provide you with a short learning material to learn a new concept. Before and after reading this material, 
                you will be asked to answer several questions.</p>
            <li><span class="highlight">We are just interested in your thoughts. Please do not refer to the internet to search for answers to the following questions.</span></li>
            <li>Please don't close the browser before completing the study; otherwise, your results won't be saved.</li>
            <li>Please try to complete this study in one time.</li>
            <li>This study is conducted anonymously, and your personal information will not be stored.</li>
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <form action="background">
                <button type="submit" class="btn btn-primary me-md-2 cusBtn" id="indexBtn">
                    <i class="fa-solid fa-arrow-right-long"></i>
                </button>
            </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="../static/js/global.js"></script>
    <script>
        // test the mobile / computer
        var isMobile = window.matchMedia("only screen and (max-width: 760px)").matches ? true : false;
        axios.post('/ckd', {
            isMobile:isMobile
        })
        .then(function (response) {
        })
        .catch(function (error) {
            console.log(error);
        });
    </script>
</body>
</html>