<!DOCTYPE html>
<html>
<head>
<title>Survey Tool</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../static/css/layout.css">
<link rel="stylesheet" type="text/css" href="../static/css/content.css">
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css.map">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
<script src="https://kit.fontawesome.com/89d02c748f.js" crossorigin="anonymous"></script>
<script>
  MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      }
    };
</script>
</head>
<body onload="noBack();" onpageshow="if (event.persisted) noBack();" onunload="">
    <div class="layout" style="grid-template-columns: 0.5fr 9fr 0.5fr">
        <div class="navDiv"></div>
        <div class="prog">
          <div class="progContent" style="width: calc(8.333%*12);"></div>
        </div>
        <div class="contentDiv">
          <p style="padding-top: 50px; padding-bottom: 30px;">
            At the <span class="highlight" style="font-weight: 500;"> end </span>of this study, please rate the following statements on a scale of 1-6. There are no wrong or right answers. (1, strongly disagree; 2, moderately disagree; 3, disagree a little; 4, agree a little; 5, moderately agree; 6, strongly agree)
          </p>
          <form class="ansForm" action="learnStyle2" method="post">
          </form>
          <div class="d-grid gap-2 d-md-flex justify-content-md-center">
              <button class="btn btn-primary me-md-2 cusBtn" onclick="btnListener(['Q1','Q2','Q3','Q4','Q5','Q6','Q7','Q8','Q9','Q10','Q11'])">
                <i class="fa-solid fa-arrow-right-long"></i>
              </button>
          </div>
        </div>
    </div>
    <script src="../static/js/global.js"></script>
    <script src="../static/js/initLearnStyle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>