<!DOCTYPE html>
<html>
<head>
<title>Survey Tool</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../static/css/layout.css">
<link rel="stylesheet" type="text/css" href="../static/css/content.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <div class="layout">
        <div class="navDiv"></div>
        <div class="contentDiv">
            <h1>Learning Material Instruction</h1>
            <p>In the next webpage, we will give you a short material explaining Disparate Impact. You have unlimited time to get familiar with the material, 
              and then you will complete the post-test. Please note that once you go to the post-test part, you will not have the access to the material.</p>

            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <form action="material">
                    <button type="submit" class="btn btn-primary cusBtn">Enter the Material</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>